{block content}
<header class="container-fluid monitor__header">
    <div class="row text-center">
        <div class="col">
            <h1>Air Monitor Measurements</h1>
        </div>
    </div>
</header>
<main class="monitor mt-5 mt-xxl-5">
    {control monitor:recent}
    {control monitor:measurements}
</main>